ENDPOINT_FOXNN=https://paint.fox.ayu.land \
DENO_CERT=fox_root_ca.pem \
API_KEY_FOXNN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx \
API_KEY_DEEPSEEK=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx \
deno run \
  --allow-read=./fox.db,../page,${DENO_DIR:-$HOME/.cache/deno},/proc/self,/usr/bin/ldd \
  --allow-ffi=${DENO_DIR:-$HOME/.cache/deno} \
  --allow-write=./fox.db \
  --allow-env=ENDPOINT_FOXNN,API_KEY_FOXNN,API_KEY_DEEPSEEK,CHECK_IMAGES --ignore-env \
  --allow-net=0.0.0.0,api.deepseek.com,paint.fox.ayu.land \
  --frozen \
  ${1:-main.js}

# Add to /etc/hosts:
# xx.xx.xx.xx paint.fox.ayu.land
